* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.grow { transition: all .2s ease-in-out; z-index: 1; }
.grow:hover { transform: scale(1.1); }

section {
	position: relative;
	width: 100%;
	height: 100%;
}

section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
}

#home h1 {
    position: absolute;
    top: 50%;
    left: 55%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
}

#profile {
	width: 300px;
	height: 300px;
	z-index: 1;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 55%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#profile span {
	-webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
	clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
	max-width: 100%;
	max-height: 100%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#profile img{
	margin-top: -160px;
	margin-left: 0px;
	width: 100%;
	filter: brightness(70%);
}

#links {
	z-index: 2;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 40%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.link {
	margin: 10px;
	display: inline-block;
	width: 100%;
}

#links a {
	color: #FFFFFF;
}

#location {
	position: absolute; 
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 20px;
    color: #000;
    font: normal 300 32px/1 'Josefin Sans', sans-serif;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

#scroll {
	position: absolute;
	bottom: 20px;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #000;
	font: normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
	text-align: center;
    width: 100%;
}

#scroll:hover {
  opacity: .5;
}

#scroll {
  padding-top: 60px;
}

#home a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

#viewMoreRight {
	position: absolute;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #000;
	font: normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
    right: 50px;
	bottom: 50%;
}

#viewMoreRight:hover {
  opacity: .5;
}

#viewMoreRight span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  box-sizing: border-box;
}

#viewMoreLeft {
	position: absolute;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #000;
	font: normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
    left: 50px;
	bottom: 50%;
}

#viewMoreLeft:hover {
  opacity: .5;
}

#viewMoreLeft span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  box-sizing: border-box;
}


#title {
    width: 100%;
    text-align: center;
    display: inline-block;
	margin-top: 40px;
	margin-bottom: 40px;
}

#tree {
    width: 100%;
    padding: 100px;
    padding-top: 0;
    margin-right: auto;
    margin-left: auto;
}

#projects {
    background-color: #fff;
}

#projects::after {
    content: none;
}

#projects h1 {
    color: #333;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
}

#projects p {
    color: #333;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
}

#projects p a {
    color: #337ab7;
    text-decoration: none;
    transition: color .3s;
}

#projects a {
    color: #000;
    text-decoration: none;
    transition: color .3s;
}

#projects p a:hover {
    or: #888;
}

.document {
    display: inline-block;
    margin-bottom: 30px;
}

.pname {
    font-weight: bold !important;
}

ul {
    list-style-type: none;
}

ul li:nth-child(n+3) {
    display:none;
}

span {
    cursor: pointer;
    color: #f00;
}


li {padding-top: 33px;}

@media (max-width: 1500px) {
	#links {
		left: 30%;
	}
	#profile {
		left: 60%;
	}
	#home h1 {
		left: 60%;
	}
}
@media (min-width: 1500px) {
	#tree {
        width: 80%;
    }
}

@media (max-width: 800px) {
	.link {
		width: auto;
	}
	#links {
		top: 15%;
		left: 50%;
		width: 100%;
	}
	#profile {
		left: 50%;
	}
	#home h1 {
		left: 50%;
	}
	#tree {
        width: 100%;
    }
    #tree .right {
        width: 100%;
        float: none;
        display: inline-block;
    }
    ul li:nth-child(n+3) {
        display: block;
    }
    #scroll {
        bottom: 0px;
    }
}

@media (max-width: 360px) {
    #tree {
        padding: 25px;
    }
}
