@font-face {
    font-family: "STELLAR";
    src: url(../fonts/Stellar-Regular.otf);
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
	background: #000000;
	background: -webkit-linear-gradient(to right, #000000, #53346D);
	background: linear-gradient(to right, #000000, #53346D);
}

.grow { transition: all .2s ease-in-out; z-index: 1; }
.grow:hover { transform: scale(1.1); }

#home {
	font-family: "STELLAR";
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align:center;
	width: 100%;
	padding: 10px;
}

#profile {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
}

#profile img{
	margin-top: -90px;
	margin-left: 0px;
	width: 100%;
}

#tree {
	font-family: "STELLAR";
	color: #FFFFFF;
	left: 25%;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#tree a {

}

.document {
	margin-left: 20px;
	margin-right: 20px;
	display: none;
}

.document a {
	text-decoration: none !important;
	color: #FFFFFF;
}

.document p {
	margin-top: 15px;
	font-size: 20px;
}

.documents {
	padding: 30px;
	padding-bottom: 0;
	margin-bottom: 20px;
}

#review {
	font-family: "STELLAR";
	font-size: 30px;
	text-align: center;
	color: white;
}

.info {
	font-family: "STELLAR";
	color: #FFFFFF;
	display: none;
	z-index: -1;
	font-size: 20px;
	text-align: center;
	padding: 0px 30px 20px 30px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

@media (max-width: 800px) {
	.info {
		width: 100%;
	}
}

#location {
	position: absolute; 
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 20px;
}

.section {
	margin-top: 70px;
}

.section .subpath {
	font-family: "STELLAR";
	font-size: 40px;
	text-align: center;
	cursor: pointer;
	display: block;
	color: #FFFFFF;
}

#header {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#path {
	font-family: "STELLAR";
	font-size: 40px;
	text-align: center;
	color: white;
	padding-left: 25px;
	padding-right: 25px;
}

#info p {
	font-size: 20px;
}

#home h1 {
	font-size: 90px;
}

#home p {
	font-size: 30px;
	margin-bottom: 15px;
	height: 50px;
}

#home a {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: #FFFFFF;
}


